body{
    background-image: url('../images/characters.jpg');
    margin: 0 auto;
}

.jumbotron{
    background-color: #fff;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 760px;
    max-height: 480px;
    clear: both;
    border: solid 5px #000;
}

img{
    height:80px;
    width: 80px;
}

.answer-button{
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}